* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h3, h4 {
    color: darkblue;
    margin: 2vw 10vw;
}

.text {
    font-size: large;
    color: rgb(42, 42, 136);
    margin: 2vh;
}

.image {
    margin: 2vh;
}

/* The first box */
.container-one {
    border: blue;
}

.first-image {
    float: left;
}

/* The second box */
.container-two {
    border: red;
}

.second-image {
    float: right;
}

/* The third box */
.container-three {
    clear: both;
    border: green;
}

.third-image {
    float: left;
}

/* The third box */
.container-four {
    clear: both;
    border: black;
    overflow: auto;
}

.fourth-image {
    float: right;
}

/* Global container styling last so it styles after the colour is set */
.container {
    margin: 2vh 10vw;
    border-style: double;
}